#auth:
#  username: guest
#  password: guest
extraEnvVars:
  - name: RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS
    value: -rabbitmq_management load_definitions "/app/load_definition.json"
extraSecrets:
  load-definition:
    load_definition.json: |
      {
        "rabbit_version":"3.9.11",
        "rabbitmq_version":"3.9.11",
        "product_name":"RabbitMQ",
        "product_version":"3.9.11",
        "users":[
          {
            "name":"guest",
            "password_hash":"3kjyKuCMakl2F8AkinUJv6G4JFanSy31WZHyRj05GldWMTel",
            "hashing_algorithm":"rabbit_password_hashing_sha256",
            "tags":"administrator",
            "limits":{

            }
          }
        ],
        "vhosts":[
          {
            "name":"/"
          }
        ],
        "permissions":[
          {
            "user":"guest",
            "vhost":"/",
            "configure":".*",
            "write":".*",
            "read":".*"
          }
        ],
        "topic_permissions":[

        ],
        "parameters":[

        ],
        "global_parameters":[
          {
            "name":"cluster_name",
            "value":"rabbit@4fc366cc1033"
          },
          {
            "name":"internal_cluster_id",
            "value":"rabbitmq-cluster-id-l2VkiRYjYbLjOGbKO6WcZw"
          }
        ],
        "policies":[

        ],
        "queues":[
          {
            "name":"adaptor-test",
            "vhost":"/",
            "durable":false,
            "auto_delete":false,
            "arguments":{
              "x-queue-type":"classic"
            }
          }
        ],
        "exchanges":[
          {
            "name":"adaptor-test",
            "vhost":"/",
            "type":"direct",
            "durable":false,
            "auto_delete":false,
            "internal":false,
            "arguments":{

            }
          }
        ],
        "bindings":[
          {
            "source":"adaptor-test",
            "vhost":"/",
            "destination":"adaptor-test",
            "destination_type":"queue",
            "routing_key":"test",
            "arguments":{

            }
          }
        ]
      }
loadDefinition:
  enabled: true
  existingSecret: load-definition
extraConfiguration: |
  load_definitions = /app/load_definition.json
persistence:
  enabled: false
#rbac:
#  create: false
#serviceAccount:
#  create: false
#  name: default
#  automountServiceAccountToken: true
clustering:
  enabled: false
replicas: 1